<section class="l-content-fixed section">
  <header class="section-header">
    <h2 class="section-title">SignUp</h2>
    <p class="section-subtitle">新規登録</p>
  </header>
  <div class="section-form">
    <form class="form-simple" name="formContact" method="post">
      <p class="form-label">お名前</p>
      <p class="form-input">
       
      </p>
      <p class="form-label">メールアドレス</p>
      <p class="form-input">
        
      </p>
      <p class="form-label">パスワード</p>
      <p class="form-input">
        
      </p>
      <p class="form-label">確認のためもう一度</p>
      <p class="form-input">
        
      </p>
      <p class="form-btn-holder">
        
      </p>
    </form>
  </div>
</section>